In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
a = np.array([[22/19, 96/37, 0],
[42/29, 123/39, 30/14],
[37/25, 279/61, 396/84],
[30/15, 368/84, 502/99]])

In [4]:
a

array([[ 1.15789474,  2.59459459,  0.        ],
       [ 1.44827586,  3.15384615,  2.14285714],
       [ 1.48      ,  4.57377049,  4.71428571],
       [ 2.        ,  4.38095238,  5.07070707]])

In [6]:
df = DataFrame(a,
               index=["1명", "2명", "3명", "4명 이상"],
               columns=["0대", "1대", "2대 이상"])
print("통행발생 원단위")
df

통행발생 원단위

             0대        1대     2대 이상
1명     1.157895  2.594595  0.000000
2명     1.448276  3.153846  2.142857
3명     1.480000  4.573770  4.714286
4명 이상  2.000000  4.380952  5.070707

In [7]:
b = np.array([[24, 42, 8],
[10, 51, 107],
[11, 31, 158],
[3, 17, 309]])
b

array([[ 24,  42,   8],
       [ 10,  51, 107],
       [ 11,  31, 158],
       [  3,  17, 309]])

In [8]:
future = DataFrame(b,
                   index=["1명", "2명", "3명", "4명 이상"],
                   columns=["0대", "1대", "2대 이상"])
future

       0대  1대  2대 이상
1명     24  42      8
2명     10  51    107
3명     11  31    158
4명 이상   3  17    309

In [9]:
future * df

              0대          1대        2대 이상
1명     27.789474  108.972973     0.000000
2명     14.482759  160.846154   229.285714
3명     16.280000  141.786885   744.857143
4명 이상   6.000000   74.476190  1566.848485

In [11]:
(future * df).sum().sum()

3091.6257768374608